@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing:border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: wheat;
}

img {
  width: 500px;
  height: 500px;
  overflow: cover;
  
  /* object-fit: cover; */
}

.carousel {
  width: 500px;
  height: 550px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons.container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: blanchedalmond;
  color: #fff;
  border: none;
  padding: 0.5rem;
}
