@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing:border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
  color: #222;
}

.container {
  background-color: #fafafa;
  transform: top left;
  transition: transform 0.5s linear;
}

.container.show-nav {
  transform: rotate(-30deg);
}

