@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing:border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
  color: #222;
}

.container {
  background-color: #fafafa;
  transform: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  height: 100vw;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-30deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle buttton:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#open {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content img {
  max-width: 100%;
}