/* Common */
body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto' sans-serif;
  color: #222;
  margin: 0;
  /* overflow-x: hidden; */

}

img {
  max-width: 100%;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}
.container {
  position: relative;
}

ol {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}

/* pagenation */
.pagenation {
  position: fixed;
  transform: translate(-100px, -100px);
  transition: .7s ease;
  /* top: -100px;
  left: -100px; */
}
.pagenation .pagenation__circle {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: relative;
}
.pagenation .pagenation__circle li {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: antiquewhite;
  border-radius: 25px;
  top: 100px;
  left: 100px;
  transform: translate(-25px, -25px);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
  list-style: none;
}
.pagenation .pagenation__circle li:nth-child(1) {
  top: 135px;
  left: 135px;
  transform: translate(-25px, -25px) rotate(-45deg);
}
.pagenation .pagenation__circle li:nth-child(2) {
  top: 135px;
  left: 65px;
  transform: translate(-25px, -25px) rotate(45deg);
}
.pagenation .pagenation__circle li:nth-child(3) {
  top: 65px;
  left: 65px;
  transform: translate(-25px, -25px) rotate(135deg);
}
.pagenation .pagenation__circle li:nth-child(4) {
  top: 65px;
  left: 135px;
  transform: translate(-25px, -25px) rotate(-135deg);
}



/* Circle Content */
.circle__content {
  width: 100vw;
  height: 0vh;
  overflow: hidden;
  transition: .7s ease-in;
}
.circle__content.active {
  height: 100vh;
}
.circle__content:nth-child(1) {

}
.circle__content:nth-child(2) {

}
.circle__content:nth-child(3) {

}
.circle__content:nth-child(4) {

}
.circle__content h1 {
  margin: 0;
}
.circle__content small {
  color: #555;
  font-style: italic;
}
.circle__content p {
  color: #333;
  line-height: 1.5;
}