@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
  input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    &:focus,
    &:valid {
      outline: none;
      border-bottom-color: lightblue;
      & + label {
        span {
          color: lightblue;
          transform: translateY(-30px);
        }
      }
    }
  }
  label {
    position: absolute;
    top: 15px;
    left: 0;
    span {
      display: inline-block;
      font-size: 18px;
      min-width: 5px;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  margin-top: 30px;
  &:focus {
    outline: 0;
  }
  &:active {
    transform: scale(0.98);
  }
}

.text {
  margin-top: 30px;
}
