@import url('https://fonts.googleapis.com/css2?family=Ulbuntu');

* {
  box-sizing:border-box;
}

body {
  background-color: #efedd6;
  font-family: 'Ulbuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh;
  overflow: hidden; */
  margin: 0;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}