@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing:border-box;
}

body {
  background-image: linear-gradient(90deg,#7d5fff, #7158e2 );
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
}