@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

h1 {
  color: rgb(179, 131, 226);
  font-size: 10rem;
  text-align: center;
  opacity: 0.4;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #444;
  font-size: 30px;
  padding: 10px 20px;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #d5d5c5;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  /* transform: translateY(100px);
  transition: transform 0.5s ease-in-out; */
}

small {
  color: #b5b5bb;
  margin-top: 20px;
  text-align: center;
}
