@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

nav {
  background-color: #fff;
  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  &.active {
    width: 350px;
    ul {
      width: 100%;
      li {
        opacity: 1;
        transform: rotateY(360deg);
      }
    }
    .icon {
      .line1 {
        transform: rotate(-765deg) translateY(5.5px);
      }
      .line2 {
        transform: rotate(765deg) translateY(-5.5px);
      }
    }
  }
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: 0.4s linear;
    li {
      transform: rotateY(0deg);
      opacity: 0;
      transition: 0.4s linear;
      a {
        position: relative;
        color: #000;
        text-decoration: none;
        margin: 0 10px;
      }
    }
  }
}

.icon {
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  width: 30px;
  height: 30px;
  &:focus {
    outline: 0;
  }
  .line {
    background-color: #5290f9;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: 0.4s linear;
  }
  .line2 {
    top: auto;
    bottom: 10px;
  }
}
