@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing:border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggleBtn{
  display: block;
  width: 80px;
  height: 50px;
  margin: 50px auto 0;
}
.toggleTarget{
  width: 800px;
  margin: 20px auto 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: none;
}

.toggleTarget.on{
  display: block;
}