@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing:border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.bg {
  background: url('https://img1.daumcdn.net/thumb/R1280x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/cSUv/image/4FVlXfaZkGWwyeoEI16E8cV8xk4.jpg')
    no-repeat center center/cover;

  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  color: grey;
  font-size: 50px;
}