@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --empty-circle : #e0e0e0;
  --fill-circle : red;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--empty-circle);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--fill-circle);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: .4s ease-in-out;
}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--empty-circle);
  transition: .4s ease;
}

.circle.active {
  border-color: var(--fill-circle);
}

.btn  {
  background-color: var(--fill-circle);
  color: #fff;
  border: 0;
  border-radius: 6px;
}